.membresiaplus {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.membresiaplus-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}


.membresiaplus-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.membresiaplus-title{
    width: 100%;
}
.membresiaplus-title h2{
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}
.membresiaplus-subtitle{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #6B6967;
    font-weight: 600;
    padding: 20px 0;
}
.membresiaplus-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.membresiaplus-list__text{
    font-size: 0.8rem;
    padding: 7px 0;
    color: #6B6967;
    text-align: center;
}

.membresiaplus-price{
    font-size: 2rem;
    padding: 30px 0;
    font-weight: 600;
    color: #C8123C;
}
.membresiaplus-deadline{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #6B6967;
    padding-top: 10px;
    font-weight: 600;
}
.membresiaplus-restrictions::before{
    content: '*';
}
.membresiaplus-restrictions{
    font-size: 0.8rem;
    color: #6B6967;
    font-weight: 600;
}
.membresiaplus-img{
    width: 10%;
}
.membresiaplus-img img{
    width: 100%;
    object-fit: cover;
}
.membresiaplus-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}
.membresiaplus__link{
    padding: 7px 8px;
    background-color: var(--redButton);
    color: var(--whiteBG);
    border-radius: 10px;
    font-size: 0.8rem;
}
.membresiaplus__link:hover{
    background-color: var(--redText);
}

@media (min-width: 992px) {
    .membresiaplus-title h2{
        font-size: 2rem;
        line-height: 2rem;
    }
    .membresiaplus-subtitle{
        font-size: 2rem;
    }
    .membresiaplus-list__text{
        font-size: 1rem;
    }
    .membresiaplus-price{
        font-size: 3rem;
    }
    .membresiaplus-deadline{
        font-size: 1rem;
    }
    .membresiaplus-restrictions{
        font-size: 1rem;
    }
    .membresiaplus__link{
        font-size: 1rem;
    }
}