.proceso-sandicheck {
    width: 100%;
    padding-bottom: 100px;
}

.proceso-sandicheck__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.proceso-sandicheck__title {
    width: 80%;
}
.proceso-sandicheck__title h2 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.proceso-sandicheck__subtitle {
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 30px;
    width: 80%;
    text-align: center;
}

.proceso-sandicheck__box {
    display: none;
}

.proceso-sandicheck__box-column1 {
    width: 80%;
}

.proceso-sandicheck__box-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.proceso-sandicheck__box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proceso-sandicheck__box-column2 {
    width: 80%;
}

.proceso-sandicheck__box-subtitle {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    padding-bottom: 30px;
}

.proceso-sandicheck__box-description {
    font-size: 0.8rem;
    padding-bottom: 40px;
    text-align: center;
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

.carrusel-container-proceso {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.carrusel-sandicheck__box {
    width: 100%;
    height: auto;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrusel-sandicheck__box-column1 {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.carrusel-sandicheck__box-img {
    width: 80%;
    height: 250px;
}
.carrusel-sandicheck__box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carrusel-sandicheck__box-column2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.carrusel-sandicheck__box-subtitle {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}
.carrusel-sandicheck__box-description {
    font-size: 0.8rem;
    width: 80%;
    text-align: center;
}

@media (min-width: 480px) {
    .proceso-sandicheck__title h2 {
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}
@media (min-width: 768px) {
    .proceso-sandicheck__title h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .proceso-sandicheck__subtitle {
        font-size: 1.2rem;
        line-height: 1.6rem;
        width: 75%;
    }
    .proceso-sandicheck__box-img {
        height: 250px;
    }
    .proceso-sandicheck__box-subtitle {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
    .carrusel-sandicheck__box-img {
        height: 300px;
    }
    .carrusel-sandicheck__box-subtitle {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 992px) {
    .proceso-sandicheck__title h2 {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }
    .proceso-sandicheck__subtitle {
        font-size: 1.4rem;
        line-height: 1.8rem;
        width: 70%;
    }
    .proceso-sandicheck__box-img {
        height: 300px;
    }
    .proceso-sandicheck__box-description {
        font-size: 1rem;
        text-align: start;
    }
    .carrusel-sandicheck__box-img {
        height: 350px;
    }
    .carrusel-sandicheck__box-subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }
    .carrusel-sandicheck__box-description {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
    .proceso-sandicheck__box {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        height: 200vh;
    }

    .proceso-sandicheck__title h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .proceso-sandicheck__subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
        width: 60%;
    }
    .proceso-sandicheck__box-column1 {
        width: 50%;
    }
    .proceso-sandicheck__box-img {
        height: 500px;
    }
    .proceso-sandicheck__box-column2 {
        position: relative;
        width: 40%;
        top: 600px;
    }
    .proceso-sandicheck__box-subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }
}
@media (min-width: 1300px) {
    .carrusel-container-proceso{
        display: none;
    }
}