.concepto-sandicheck {
    width: 100%;
}

.concepto-sandicheck__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.concepto-sandicheck__title {
    width: 80%;
}
.concepto-sandicheck__title h2{
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.concepto-sandicheck__subtitle {
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 30px;
    width: 80%;
    text-align: center;
}

.concepto-sandicheck__description {
    width: 80%;
    font-size: 0.7rem;
    padding-bottom: 40px;
    text-align: center;
}

.concepto-sandicheck__list-data {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-around;
}

.concepto-sandicheck__data-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.concepto-sandicheck__img {
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.concepto-sandicheck__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.concepto-sandicheck__data-text {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 40px;
    text-align: center;
    width: 85%;
}

.concepto-sandicheck__list-text {
    margin: 150px 0;
    display: flex;
    flex-direction: column;
}

.concepto-sandicheck__list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.concepto-sandicheck__list-column1 {
    width: 80%;
    padding: 100px 0;
}
.concepto-sandicheck__list-column2 {
    width: 80%;
    display: flex;
    justify-content: center;
}

.concepto-sandicheck__list-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 30px;
    text-align: center;
}

.concepto-sandicheck__list-subtitle {
    font-size: 0.8rem;
    text-align: center;
}

.concepto-sandicheck__list-img {
    width: 80%;
    height: 200px;
    background-color: #fff;
}
.concepto-sandicheck__list-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 480px) {
    .concepto-sandicheck__title h2{
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}
@media (min-width: 768px) {
    .concepto-sandicheck__title {
        width: 70%;
    }
    .concepto-sandicheck__title h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .concepto-sandicheck__subtitle {
        font-size: 1.2rem;
        line-height: 1.4rem;
        width: 75%;
    }
    .concepto-sandicheck__description {
        width: 75%;
        font-size: 0.8rem;
    }
    .concepto-sandicheck__list-data {
        width: 80%;
    }
    .concepto-sandicheck__img {
        height: 125px;
    }
    .concepto-sandicheck__data-text {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .concepto-sandicheck__list-column1 {
        width: 70%;
    }
    .concepto-sandicheck__list-column2 {
        width: 70%;
    }
    .concepto-sandicheck__list-title {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .concepto-sandicheck__list-img {
        height: 300px;
    }
}
@media (min-width: 992px) {
    .concepto-sandicheck__title {
        width: 60%;
    }
    .concepto-sandicheck__title h2{
        font-size: 2.7rem;
        line-height: 2.7rem;
    }
    .concepto-sandicheck__subtitle {
        font-size: 1.4rem;
        line-height: 1.6rem;
        width: 70%;
    }
    .concepto-sandicheck__description {
        width: 70%;
        font-size: 0.9rem;
    }
    .concepto-sandicheck__list-data {
        width: 75%;
    }
    .concepto-sandicheck__img {
        height: 150px;
    }
    .concepto-sandicheck__data-text {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .concepto-sandicheck__list-column1 {
        width: 60%;
    }
    .concepto-sandicheck__list-column2 {
        width: 60%;
    }
    .concepto-sandicheck__list-title {
        font-size: 2.3rem;
        line-height: 2.7rem;
    }
    .concepto-sandicheck__list-img {
        height: 400px;
    }
}
@media (min-width: 1200px) {
    .concepto-sandicheck__title {
        width: 40%;
    }
    .concepto-sandicheck__title h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .concepto-sandicheck__subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
        width: 60%;
    }
    .concepto-sandicheck__description {
        width: 60%;
    }
    .concepto-sandicheck__list-data {
        width: 70%;
    }
    .concepto-sandicheck__img {
        height: 200px;
    }
    .concepto-sandicheck__data-text {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .concepto-sandicheck__list-column {
        flex-direction: row;
    }
    .concepto-sandicheck__list-column1 {
        width: 50%;
    }
    .concepto-sandicheck__list-column2 {
        width: 50%;
    }
    .concepto-sandicheck__list-title {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: start;
    }
    .concepto-sandicheck__list-subtitle {
        text-align: start;
    }
    .concepto-sandicheck__list-img {
        width: 90%;
        height: 500px;
    }
}
@media (min-width: 1400px) {

}