.footer-slice {
    width: 100%;
    margin-top: 100px;
    background-color: #fff;;
}

.footer-slice__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 30px 30px;
}

.footer-slice__column1 {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.footer-slice__column2 {
    width: 100%;
}

.footer-slice__link-img {
    width: 50%;
    border-radius: 10px;
    height: 100%;
    padding-bottom: 30px;
}
.footer-slice__link-img img{
    width: 100%;
}

.footer-slice__text {
    font-size: 1rem;
}

.footer-slice__socialmedia {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-slice__link-icon {
    width: 16%;
    border-radius: 10px;
    height: 50px;
    background-color: #fff;
}
.footer-slice__link-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-slice__list {
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px;
    justify-content: space-around;
}
.footer-slice__list-col {

}
.footer-slice__list-title{
    font-size: 0.8rem;
    text-transform: uppercase;
}
.footer-slice__list-link {
    color: rgb(87, 87, 87);
}
.footer-slice__list-link:hover {
    text-decoration: underline;
}
.footer-slice__links {
    display: flex;
    flex-direction: column;
}
.copyright {
    width: 100%;
    padding: 20px 30px;
    font-size: 0.7rem;
    text-align: center;
    margin: 0;
}
@media (min-width: 480px) {

}
@media (min-width: 768px) {
    .footer-slice__column1 {
        width: 40%;
    }
    .footer-slice__column2 {
        width: 100%;
    }
    .footer-slice__link-img {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .footer-slice__container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;
    }
    .footer-slice__column1 {
        width: 30%;
    }
    .footer-slice__column2 {
        width: 60%;
    }
    .footer-slice__link-img {
        width: 35%;
    }
    .footer-slice__list {
        flex-direction: row;
    }
    .footer-slice__socialmedia {
        width: 80%;
    }
    .copyright {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}