.checkat-hero {
    width: 100%;
    padding-top: 100px;
}

.checkat-hero__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.checkat-hero__box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkat-hero__column1 {
    width: 40%;
}

.checkat-hero__title {
    width: 100%;
}
.checkat-hero__title h2{
    font-size: 3rem;
    line-height: 3rem;
}

.checkat-hero__description {
    width: 90%;
    font-size: 1rem;
}
.checkat-hero__btn {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 64%;
}
.checkat-hero__link {
    padding: 10px 20px;
    background-color: var(--redButton);
    color: var(--whiteBG);
    border-radius: 10px;
}
.checkat-hero__link:hover {
    background-color: var(--redText);
}


.checkat-hero__column2 {
    width: 50%;
}
.checkat-hero__video-container {
    padding: 10px 20px;
    height: 550px;
    background-color: #fff;
    border-radius: 10px;
}
.checkat-hero__video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auto-animate-wrapper {
    overflow: hidden;
    position: relative;
    height: 90px;
    width: 100%;
}
  
.word-container {
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: start;
}
  
.word-container.active {
  opacity: 1;
  transform: translateY(0);
}

.word-container.inactive {
  opacity: 0;
  transform: translateY(-100%);
}

.word {
    font-family: Gilroy, sans-serif;
    font-size: 39px;
    font-weight: 600;
    line-height: 92%;
    color: #C8123C;
    padding: 10px 0;
}