.checkat-cuida {
    width: 100%;
    height: auto;
}

.checkat-cuida__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.checkat-cuida__title {
    width: 90%;
}
.checkat-cuida__title h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

@media (min-width: 480px) {
    
}
@media (min-width: 768px) {
    .checkat-cuida__title h2{
        font-size: 3rem;
        line-height: 3rem;
    }
}
@media (min-width: 992px) {
    .checkat-cuida__title h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .checkat-cuida__title h2{
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media (min-width: 1440px) {
}

