.empresas-slice {
    margin-top: 30px;
    width: 100%;
}
.empresas-slice__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.empresas-slice__title {
    width: 80%;
}
.empresas-slice__title h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    line-height: 2rem;
}
.empresas-slice__images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.empresas-slice__img {
    width: 100%;
    height: 80px;
    margin: 30px 0;
}
.empresas-slice__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 480px) {
    
}
@media (min-width: 768px) {
    .empresas-slice__title {
        width: 60%;
    }
}
@media (min-width: 992px) {
    .empresas-slice__container {
        flex-direction: row;
    }
    .empresas-slice__title {
        width: 40%;
    }
    .empresas-slice__images {
        flex-direction: row;
        width: 60%;
    }
    .empresas-slice__img {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .empresas-slice__img {
        width: 80%;
    }
}
@media (min-width: 1400px) {
    .empresas-slice__img {
        width: 100%;
    }
}