.nosotrosvalores {
    width: 100%;
}

.nosotrosvalores-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.nosotrosvalores-data {
    width: 80%;
}
.nosotrosvalores-title {
    width: 100%;
}
.nosotrosvalores-title h2{
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.nosotrosvalores-list {
    display: flex;
    flex-direction: column;
}

.nosotrosvalores-list__data {
    width: 100%;
}

.nosotrosvalores-column {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nosotrosvalores-col2 {
    width: 90%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotrosvalores-img {
    width: 90%;
    height: 35px;
    margin-right: 8px;
}
.nosotrosvalores-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nosotrosvalores-subtitle {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.nosotrosvalores-description{
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
}
@media (min-width: 480px) {
    .nosotrosvalores-title h2{
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
}
@media (min-width: 768px) {
    .nosotrosvalores-title h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .nosotrosvalores-subtitle {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@media (min-width: 992px) {
    .nosotrosvalores-title h2{
        font-size: 2.8rem;
        line-height: 2.8rem;
    }
    .nosotrosvalores-list {
        display: flex;
        flex-direction: row;
    }
    .nosotrosvalores-col1 {
        width: 12%;
    }
    .nosotrosvalores-col2 {
        width: 90%;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: start;
    }
    .nosotrosvalores-subtitle {
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: start;
    }
    .nosotrosvalores-description{
        font-size: 1rem;
        text-align: start;
    }
}
@media (min-width: 1200px) {
    .nosotrosvalores-title h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .nosotrosvalores-subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
@media (min-width: 1440px) {
}