.menu-background {
  width: 100%;
  position: fixed;
  z-index: 5;
}

.menu-slice {
  width: 100%;
}

.menu-slice__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: hsla(0,0%,100%,0.1);
  backdrop-filter: blur(12px);
}

.menu-slice__list {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-slice__logo {
  width: 12%;
}
.menu-slice__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-slice__hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-slice__links-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-slice__list-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-slice__page {
  font-size: 0.8rem;
  transition: scale 2s ease-in;
  margin: 10px;
}

.menu-slice__page:hover {
  color: #616060;
  transform: scale(1.1);
}

.menu-slice__link {
  padding: 10px 20px;
  background-color: #D9D9D9;
  border-radius: 10px;
  transition: scale 2s ease-in;
}

.menu-slice__link:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  
}
@media (max-width: 992px) {
  .menu-slice__hamburger {
    display: block;
  }

  .menu-slice__links-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .menu-slice__links-container.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-slice__btn {
    margin-top: 20px;
  }

  .menu-slice__list {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 1000px) {
  .menu-slice__logo {
    width: 12%;
  }
  .menu-slice__hamburger {
    display: none;
  }

  .menu-slice__page {
    font-size: 0.8rem;
  }
  .menu-slice__list {
    justify-content: space-between;
  }
  .menu-slice__list-links {
    width: 100%;
    flex-direction: row;
  }

  .menu-slice__links-container {
    width: 85%;
    display: flex;
  }

  .menu-slice__links-container.open {
    display: flex;
  }
}

@media (min-width: 1400px) {
  .menu-slice__page {
    font-size: 1rem;
  }
}
