.checkat-slider {
    width: 100%;
    background-color: #fff;
    padding-bottom: 100px;
}

.checkat-slider__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.checkat-slider__column {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.checkat-slider__box {
    width: 100%;
    height: auto;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.checkat-slider__columns-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkat-slider__column1 {
    width: 80%;
    height: 100%;
}

.checkat-slider__list1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.checkat-slider__icon {
    width: 10%;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 10px;
}
.checkat-slider__icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.checkat-slider__number {
    font-size: 1rem;
}

.checkat-slider__list2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}
.checkat-slider__title {
    width: 100%;
}
.checkat-slider__title h2{
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.checkat-slider__description {
    font-size: 0.8rem;
    text-align: center;
}


.checkat-slider__column2 {
    width: 50%;
}

.checkat-slider__img {
    position: static;
    width: 100%;
}
.checkat-slider__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pin-marker {
    margin-bottom: 30px;
}

@media (min-width: 480px) {
    
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .checkat-slider__columns-list{
        flex-direction: row;
    }
    .checkat-slider__columns-list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .checkat-slider__column1 {
        width: 40%;
    }
    .checkat-slider__title h2{
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: start;
    }
    .checkat-slider__description {
        font-size: 1rem;
        text-align: start;
    }
}
@media (min-width: 1200px) {
    .checkat-slider__img {
        position: static;
        width: 100%;
        height: auto;
    }
    .checkat-slider__box {
        width: 100%;
        height: auto;
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .checkat-slider__title h2{
        font-size: 2rem;
        line-height: 2.5rem;
    }
}
@media (min-width: 1300px) {
    .checkat-slider__columns-list{
        flex-direction: row;
    }
    .checkat-slider__img {
        position: relative;
        top: 600px;
        width: 100%;
        height: 500px;
    }
    .checkat-slider__box {
        width: 100%;
        height: 200vh;
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
@media (min-width: 1440px) {
}