.orgullo-slice {
    width: 100%;
}

.orgullo-slice__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.orgullo-slice__title {
    width: 80%;
}
.orgullo-slice__title h2{
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
}

.orgullo-slice__subtitle {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 30px;
    text-align: center;
}

.orgullo-slice__list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.orgullo-slice__img {
    width: 60%;
    margin: 10px 10px;
    border-radius: 10px;
    height: 150px;
}
.orgullo-slice__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 480px) {

}
@media (min-width: 768px) {
    .orgullo-slice__title h2{
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
    .orgullo-slice__subtitle {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}
@media (min-width: 992px) {
    .orgullo-slice__title h2{
        font-size: 2.6rem;
        line-height: 2.6rem;
    }
    .orgullo-slice__subtitle {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .orgullo-slice__list {
        flex-direction: row;
    }
}
@media (min-width: 1200px) {
    .orgullo-slice__title h2{
        font-size: 2.8rem;
        line-height: 2.8rem;
    }
    .orgullo-slice__subtitle {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
}
@media (min-width: 1400px) {
    .orgullo-slice__title h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .orgullo-slice__subtitle {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .orgullo-slice__list {
        width: 60%;
    }
    .orgullo-slice__img {
        width: 20%;
        margin: 0 10px;
    }
}